<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Tasks</h1>

    {% if tasks is not empty %}
        <p>Here are all your tasks:</p>

            {% for task in tasks %}
                {% if task.getComplete == 0 %}
                <ul>
                    <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}</a>, due {{ task.getDueDate }}

                        <form class="" action="/tasks/{{ task.getId }}/complete" method="post">
                            <input name="_method" type="hidden" value="patch">
                            <button type="submit" name="button">Complete</button>
                        </form>
                    </li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}</a>, due {{ task.getDueDate }}</li>
                </ul>
                {% endif %}
            {% endfor %}
    {% endif %}

    <form action='/tasks' method='post'>
        <label for='description'>Task description:</label>
        <input id='description' name='description' type='text'>
        <label for="due_date">Due date:</label>
        <input type="date" name="due_date" value="">
        <button type='submit'>Add task</button>
    </form>

    <form action='/delete_tasks' method='post'>
        <button type='submit'>Clear</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
